/* Gruvbox Dark Colors */
@define-color bg0_hard    #1d2021;
@define-color bg0         #282828;
@define-color bg0_soft    #32302f;
@define-color bg1         #3c3836;
@define-color bg2         #504945;
@define-color bg3         #665c54;
@define-color bg4         #7c6f64;
@define-color gray        #928374;
@define-color fg0         #fbf1c7;
@define-color fg1         #ebdbb2;
@define-color fg2         #d5c4a1;
@define-color fg3         #bdae93;
@define-color fg4         #a89984;
@define-color red         #fb4934;
@define-color green       #b8bb26;
@define-color yellow      #fabd2f;
@define-color blue        #83a598;
@define-color purple      #d3869b;
@define-color aqua        #8ec07c;
@define-color orange      #fe8019;

* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 13px;
  font-weight: bold;
}

/* Window */
window {
  margin: 0px;
  padding: 5px;
  border: none; /* Let Hyprland handle the border */
  border-radius: 5px;
  background-color: @bg0_soft;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: @bg0_soft;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 5px;
  border: 1px solid @gray;
  border-radius: 5px;
  background-color: @bg0_soft;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @bg0_soft;
}

/* Input */
#input {
  margin: 5px 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: @fg1;
  background-color: @bg1;
}

#input image {
    border: none;
    color: @orange;
}

#input * {
  outline: 2px solid @orange !important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @fg1;
}

#entry {
  background-color: @bg0_soft;
  /* border-radius: 5px; */
  border: none;
  margin: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

#entry arrow {
  border: none;
  color: @blue;
}

/* Selected Entry */
#entry:selected {
  /* border: 1px solid @yellow; */
  border: none;
  background-color: @bg2;
}

#entry:selected #text {
  color: @fg0;
  font-weight: bold;
}

#entry:drop(active) {
  background-color: @blue !important;
}
